* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Hero Section Style */
.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    z-index: 1;
    padding: 0 15px; /* Padding for small screens */
}

/* Background image with brightness adjustment */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/heroimg.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    filter: brightness(70%); /* Adjust brightness to 70% */
    z-index: -1; /* Place behind the content */
}

/* Default large screen text size */
.hero-section h1 {
    font-size: 8rem;
}

nav {
    font-size: 1.2rem;
}

.home {
    display: none;
}
.akhai {
    display: none;
}

/* Penyesuaian vertikal untuk nav-link */
.navbar-nav .nav-link {
    line-height: 1.8; /* Meningkatkan line-height untuk naikkan sedikit */
    padding-top: 0;  /* Hilangkan padding atas */
    padding-bottom: 0; /* Hilangkan padding bawah */
}

/* Navbar Underline Effect */
.nav-link {
    position: relative;
}

/* Add underline using ::after */
.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

/* Show underline only on hover or active for larger screens */
.nav-link:hover::after, 
.nav-link.active::after {
    width: 100%;  /* Expand underline on hover or active */
}

@media (min-width: 992px) {
    .hero-section h1 {
        font-size: 5rem; /* Reduce font size */
    }
    .akhai {
        display: inline;
    }

}

/* Media query for screens with max-width 768px (tablets and small devices) */
@media (max-width: 992px) {
    .hero-section h1 {
        font-size: 5rem; /* Reduce font size */
    }
    .home {
        display: inline;
    }
    .product3, .product4 {
        display: none;
    }
}

/* Media query for screens with max-width 576px (mobile devices) */
@media (max-width: 576px) {
    .hero-section h1 {
        font-size: 3rem; /* Even smaller font size for mobile */
    }

    /* Additional adjustments for mobile responsiveness */
    .hero-section {
        padding: 0 10px; /* Adjust padding for small mobile screens */
    }

    /* Disable underline effect on mobile */
    .nav-link::after {
        display: none; /* Hide underline on mobile */
    }
}
